body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat";
}
h1 {
    text-align: center;
    color: white;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 10px 0;
    height: 25%;
}
#displayColor {
    font-size: 150%;
}
.stripe {
    text-align: center;
    background-color: white;
    height: 10vh;
}
.container {
    position: relative;
    max-width: 600px;
    margin: auto;
    padding: 0;
    height: 100%;
}
#R {
    color: #ff0000;
}
#G {
    color: #00ff00;
}
#B {
    color: #0000ff;
}
.square {
    background-color: purple;
    width: 30%;
    float: left;
    margin: 1.66%;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}
#response {
    display: inline-block;
    width: 20%;
    height: 100%;
    font-size: 22px;
}
button {
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    font-family: "Montserrat";
    /* width: 60px; */
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
button:hover {
    color: white;
    background-color: steelblue;
}
.leftButtons {
    position: absolute;
    left: 10px;
    padding: 0;
    height: 100%;
}
.rightButtons {
    position: absolute;
    right: 10px;
    padding: 0;
    height: 100%;
    top: 0;
}
#resetButton {
    height: 50%;
}
#numberFormatButton {
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0;
    height: 50%;
}
#levelButton {
    height: 50%;
}
#displayFormatButton {
    position: absolute;
    top: 30px;
    height: 50%;
    right: 0;
}
